--- Insert alt kendt test data fra start og map vores program user

-- Creates the login tec with password 'OsteFis' ------------------------------------------------------

USE master
IF NOT EXISTS (SELECT name FROM sys.sql_logins WHERE name='tec')
  BEGIN
    CREATE LOGIN tec
      WITH PASSWORD = 'OsteFis';
    PRINT 'USER ''tec'' CREATED';
  END
ELSE
  BEGIN
    PRINT 'USER ''tec'' ALREADY EXISTS';
  END;


-- map user rights

USE [Sydvest-Bo]
GO
-- Check database user
IF USER_ID('tec') IS NULL
  CREATE USER tec FOR LOGIN tec;
GO

USE [Sydvest-Bo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tec]
GO
USE [Sydvest-Bo]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tec]
GO
USE [Sydvest-Bo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [tec]
GO


-------------------------------------------------------
-- Insert 
-------------------------------------------------------

-- 01 PostnrBY

USE "Sydvest-Bo"
GO

--- Insert alt kendt test data fra start
USE "Sydvest-Bo"
GO

-- 02 Distrikt ----------------------------------------------------

USE "Sydvest-Bo"
GO

INSERT INTO Distrikt VALUES
  ('Test Distrikt'),
  ('Øst Danmark'),
  ('Vest Danmark');
GO


-- 03 Udlejningskonsulent ----------------

USE "Sydvest-Bo"
GO

INSERT INTO Adresse (Adressestring,Postnr) VALUES
  ('Sydvest-Bo admin 1 st. th.',2450),
  ('Sindalvej 4',6000),
  ('Nørregade 45 D',4600);
GO

INSERT INTO Person (Fornavn, Efternavn, Adresseid, Email, Person.Tlf, [Password]) VALUES
  ('Test','Udlejningskonsulent',1,'udlejningskonsulent@sydvest-bo.dk','26145443',' '),
  ('Karina','Lorentzen Dehnhardt',2,'karina.dehnhardt@ft.dk','+45 6162 3045',' '),
  ('Jacob','Mark',3,'jacob.mark@ft.dk','+45 3337 5500',' ');
GO

INSERT INTO Udlejningskonsulent (Personid, Distriktid,Noter) VALUES
  (1,1,'Noter:'),
  (2,2,'Noter:'),
  (3,3,'Noter:');
GO

-- 04 Kundekonsulent ----------------

USE "Sydvest-Bo"
GO


INSERT INTO Adresse (Adressestring,Postnr) VALUES
  ('Sydvest-Bo admin 1 st. tv.',2450),
  ('Svanelundsvej 36',9800),
  ('Paradisbakken 3',7660);
GO

INSERT INTO Person (Fornavn, Efternavn, Adresseid, Email, Person.Tlf, [Password]) VALUES
  ('Test','Kundekonsulent',4,'kundekonsulent@sydvest-bo.dk','26145443',' '),
  ('Per','Larsen',5,'per.larsen@ft.dk','+45 6162 3226',' '),
  ('Orla','Østerby',6,'orla.osterby@ft.dk','+45 6162 4914',' ');

GO

INSERT INTO Kundekonsulent (Personid, Noter) VALUES
  (4,'Noter: Testbruger og årets kundekonsulent'),
  (5,'Noter:'),
  (6,'Noter:');
GO


-- 05 Ejere Sommerhus -------------

USE "Sydvest-Bo"
GO

INSERT INTO Adresse (Adressestring,Postnr) VALUES
  ('Sydvest-Bo admin 1 1. th.',2450),
  ('<Hemmelig>',2400),
  ('Bakkevænget 2',9750),
  ('Blåhegnet 36',2670),
  ('Filshuse 14, Sandager',5610),
  ('Sikavej 23',7160),
  ('Ørskovbakken 42, Snejbjerg',7400);
GO


INSERT INTO Ejer (Ejer.Personid, Ejertype, Noter) VALUES
  (7,'Sommerhusejer','Noter:'),
  (8,'Sommerhusejer','Noter:'),
  (9,'Sommerhusejer','Noter:'),
  (10,'Sommerhusejer','Noter:'),
  (11,'Sommerhusejer','Noter:'),
  (12,'Sommerhusejer','Noter:'),
  (13,'Sommerhusejer','Noter:');
GO

-- 06 Opsynsmand ------------------------

USE "Sydvest-Bo"
GO



INSERT INTO Opsynsmand (Personid, Distriktid, Noter) VALUES
  (14,1,'Noter: Test Opsynsmand'),
  (15,3,'Noter:'),
  (16,2,'Noter:'),
  (17,3,'Noter:'),
  (18,2,'Noter:'),
  (19,3,'Noter:'),
  (20,2,'Noter:'),
  (21,1,'Noter:'),
  (22,3,'Noter:'),
  (23,2,'Noter:'),
  (24,3,'Noter:'),
  (25,2,'Noter:'),
  (26,3,'Noter:'),
  (27,2,'Noter:'),
  (28,3,'Noter:');
GO

-- 07 Feriebolig sommerhuse ---------------------------------

USE "Sydvest-Bo"
GO


USE "Sydvest-Bo"
GO



-- 08 Ejer_Lejligheds inspektoere --------------------------------

USE "Sydvest-Bo"
GO


USE "Sydvest-Bo"
GO

INSERT INTO Ejer (Ejer.Personid, Ejertype, Noter) VALUES
  (29,'Lejligheds inspektør','Noter: Test Lejligheds inspektør'),
  (30,'Lejligheds inspektør','Noter:'),
  (31,'Lejligheds inspektør','Noter:'),
  (32,'Lejligheds inspektør','Noter:');
GO

-- 09 Opsysnmænd Lejligheds inspektoere --------------------------------

INSERT INTO Opsynsmand (Personid, Distriktid, Noter) VALUES
  (29,1,'Noter: Test Lejligheds inspektør'),
  (30,2,'Noter: Lejligheds inspektør'),
  (31,3,'Noter: Lejligheds inspektør'),
  (32,2,'Noter: Lejligheds inspektør');
GO

-- 10 Feriebolig Lejligheder ------------------------------------------------------------------------------

USE "Sydvest-Bo"
GO


  USE "Sydvest-Bo"
GO


-- 11 Kunde -------------------------------------

USE "Sydvest-Bo"
GO


USE "Sydvest-Bo"
GO


USE "Sydvest-Bo"
GO
INSERT INTO Kunde (Personid, Noter) VALUES
  (33,'Noter: Test Kunde'),
  (34,'Noter:'),
  (35,'Noter:'),
  (36,'Noter:'),
  (37,'Noter:'),
  (38,'Noter:'),
  (39,'Noter:'),
  (40,'Noter:'),
  (41,'Noter:'),
  (42,'Noter:'),
  (43,'Noter:'),
  (44,'Noter:'),
  (45,'Noter:'),
  (46,'Noter:'),
  (47,'Noter:'),
  (48,'Noter:'),
  (49,'Noter:'),
  (50,'Noter:'),
  (51,'Noter:'),
  (52,'Noter:'),
  (53,'Noter:'),
  (54,'Noter:'),
  (55,'Noter:'),
  (56,'Noter:'),
  (57,'Noter:'),
  (58,'Noter:'),
  (59,'Noter:');
go

-- 12 Saesonkategori -------------------------------------

-- Saesonkategori.Ugeid;Saesonkategori.Kategori;Saesonkategori.Kategroinavn;Saesonkategori.Prismodifikator

USE "Sydvest-Bo"
GO


-- 13 Sandbox -------------------------------------

USE "Sydvest-Bo";
GO

-- Id, Navn, Heltal,Penge,Dato

INSERT INTO Sandbox (Id, Navn, Heltal, Penge) VALUES
  (1,'Bengalsk bønnesalat',1,100.00),
  (2,'Erik Påskebryg',2,200),
  (3,'Palmin fedt',4,500.50),
  (4,'rød pølse = konfirmant pik',8,27.50),
  (5,'Heste galocher',16,11111.11);
GO

--