--- Insert alt kendt test data fra start og map vores program user

-- Creates the login tec with password 'OsteFis' ------------------------------------------------------

USE master
IF NOT EXISTS (SELECT name FROM sys.sql_logins WHERE name='tec')
  BEGIN
    CREATE LOGIN tec
      WITH PASSWORD = 'OsteFis';
    PRINT 'USER ''tec'' CREATED';
  END
ELSE
  BEGIN
    PRINT 'USER ''tec'' ALREADY EXISTS';
  END;


-- map user rights

USE [Sydvest-Bo]
GO
-- Check database user
IF USER_ID('tec') IS NULL
  CREATE USER tec FOR LOGIN tec;
GO

USE [Sydvest-Bo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tec]
GO
USE [Sydvest-Bo]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tec]
GO
USE [Sydvest-Bo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [tec]
GO


-------------------------------------------------------
-- Insert 
-------------------------------------------------------

-- 01 PostnrBY

USE "Sydvest-Bo"
GO

--- Insert alt kendt test data fra start
USE "Sydvest-Bo"
GO

-- 02 Distrikt ----------------------------------------------------

-- Distrikt.Distriktid;Distrikt.Omraade
-- 1;"Test Distrikt"
-- 2;"Øst Danmark"
-- 3;"Vest Danmark"
USE "Sydvest-Bo"
GO

insert into Distrikt values
  ('Test Distrikt'),
  ('Øst Danmark'),
  ('Vest Danmark');
GO


-- 03 Udlejningskonsulent ----------------

-- INSERT INTO Udlejningskonsulent (Person.Fornavn, Person.Efternavn, Adresse.Adressestring, Adresse.Postnr, Person.Email, Person.Tlf, Person.Password, Udlejningskonsulent.Distriktid) VALUES
--   ('Test',';Udlejningskonsulent','Sydvest-Bo admin 1 st. th.',2450,'rasm42h0@elev.tec.dk','26145443',' ','Test Distrikt'),
--  ('Karina','Lorentzen Dehnhardt','Sindalvej 4',6000,'karina.dehnhardt@ft.dk','+45 6162 3045',' ','Vest Danmark'),
--  ('Jacob','Mark','Nørregade 45 D',4600,'jacob.mark@ft.dk','+45 3337 5500',' ','Øst Danmark');
-- GO
USE "Sydvest-Bo"
GO

INSERT INTO Adresse (Adressestring,Postnr) VALUES
  ('Sydvest-Bo admin 1 st. th.',2450),
  ('Sindalvej 4',6000),
  ('Nørregade 45 D',4600);
GO

INSERT INTO Person (Fornavn, Efternavn, Adresseid, Email, Person.Tlf, [Password]) VALUES
  ('Test','Udlejningskonsulent',1,'rasm42h0@elev.tec.dk','26145443',' '),
  ('Karina','Lorentzen Dehnhardt',2,'karina.dehnhardt@ft.dk','+45 6162 3045',' '),
  ('Jacob','Mark',3,'jacob.mark@ft.dk','+45 3337 5500',' ');
GO

INSERT INTO Udlejningskonsulent (Personid, Distriktid) VALUES
  (1,1),
  (2,2),
  (3,3);
GO

-- 04 Kundekonsulent ----------------

-- Person.Fornavn;Person.Efternavn;Adresse.Adressestring;Adresse.Postnr;Person.Email;Person.Tlf;Person.Password;Kundekonsulent.Noter
-- Test;Kundekonsulent;Sydvest-Bo admin 1 st. tv.;2450;rasm42h0@elev.tec.dk;26145443; ;Noter: Testbruger og årets kundekonsulent
-- Per;Larsen;Svanelundsvej 36;9800;per.larsen@ft.dk;+45 6162 3226; ;Noter:
-- Orla;Østerby;Paradisbakken 3;7660;orla.osterby@ft.dk;+45 6162 4914; ;Noter:
USE "Sydvest-Bo"
GO


INSERT INTO Adresse (Adressestring,Postnr) VALUES
  ('Sydvest-Bo admin 1 st. tv.',2450),
  ('Svanelundsvej 36',9800),
  ('Paradisbakken 3',7660);
GO

INSERT INTO Person (Fornavn, Efternavn, Adresseid, Email, Person.Tlf, [Password]) VALUES
  ('Test','Kundekonsulent',4,'rasm42h0@elev.tec.dk','26145443',' '),
  ('Per','Larsen',5,'per.larsen@ft.dk','+45 6162 3226',' '),
  ('Orla','Østerby',6,'orla.osterby@ft.dk','+45 6162 4914',' ');

GO

INSERT INTO Kundekonsulent (Personid, Noter) VALUES
  (4,'Noter: Testbruger og årets kundekonsulent'),
  (5,'Noter:'),
  (6,'Noter:');
GO


-- 05 Ejere Sommerhus -------------

-- Test;Sommerhus Ejer;Sydvest-Bo admin 1 1. th.;2450;rasm42h0@elev.tec.dk;26145443;
-- Pernille;Bendixen;<Hemmelig>;9999;pernille.bendixen@ft.dk;+45 3337 5500; 
-- Bent;Bøgsted;Bakkevænget 2;9750;bent.bogsted@ft.dk;+45 6162 3360; 
-- Liselott;Blixt;Blåhegnet 36;2670;liselott.blixt@ft.dk;+45 6162 4626; 
-- Jens Henrik;Thulesen Dahl;Filshuse 14, Sandager;5610;jens.henrik.thulesen.dahl@ft.dk;+45 3337 5126; 
-- Hans Kristian;Skibby;Sikavej 23;7160;hans.skibby@ft.dk;+45 6162 4231; 
-- Dennis;Flydtkjær;Ørskovbakken 42, Snejbjerg;7400;dennis.flydtkjaer@ft.dk;+45 3337 5112; 

USE "Sydvest-Bo"
GO

INSERT INTO Adresse (Adressestring,Postnr) VALUES
  ('Sydvest-Bo admin 1 1. th.',2450),
  ('<Hemmelig>',2400),
  ('Bakkevænget 2',9750),
  ('Blåhegnet 36',2670),
  ('Filshuse 14, Sandager',5610),
  ('Sikavej 23',7160),
  ('Ørskovbakken 42, Snejbjerg',7400);
GO


INSERT INTO Ejer (Ejer.Personid, Ejertype, Noter) VALUES
  (7,'Sommerhusejer','Noter:'),
  (8,'Sommerhusejer','Noter:'),
  (9,'Sommerhusejer','Noter:'),
  (10,'Sommerhusejer','Noter:'),
  (11,'Sommerhusejer','Noter:'),
  (12,'Sommerhusejer','Noter:'),
  (13,'Sommerhusejer','Noter:');
GO

-- 06 Opsynsmand ------------------------

--  ('Test','Opsynsmand',,'Sydvest-Bo admin 1 8. mf.',2450,'rasm42h0@elev.tec.dk','26145443',' '),
--  ('Uffe','Elbæk',,'Folketinget, Christiansborg Kontor 101',1240,'uffe.elbaek@ft.dk','+45 6162 5078',' '),
--  ('Torsten','Gejl',,'Folketinget, Christiansborg Kontor 102',1240,'torsten.gejl@ft.dk','+45 6162 4651',' '),
--  ('Rasmus','Nordqvist',,'Folketinget, Christiansborg Kontor 103',1240,'rasmus.nordqvist@ft.dk','+45 6162 4655',' '),
--  ('Sikandar','Siddique',,'Folketinget, Christiansborg Kontor 104',1240,'sikandar.siddique@ft.dk','+45 6162 5962',' '),
--  ('Susanne','Zimmer',,'Folketinget, Christiansborg Kontor 105',1240,'susanne.zimmer@ft.dk','+45 6162 5672',' '),
--  ('Aaja','Chemnitz Larsen','Folketinget, Christiansborg Kontor 106',1240,'aaja.larsen@ft.dk','+45 6162 4667',' '),
--  ('Sjúrður','Skaale',,'Folketinget, Christiansborg Kontor 107',1240,'sjurdur.skaale@ft.dk','+45 6162 5199',' '),
--  ('Lars','Boje Mathiesen',,'Folketinget, Christiansborg Kontor 108',1240,'lars.mathiesen@ft.dk','+45 6162 5053',' '),
--  ('Peter','Seier Christensen',,'Folketinget, Christiansborg Kontor 109',1240,'peter.christensen@ft.dk','+45 3337 5809',' '),
--  ('Mette','Thiesen',,'Folketinget, Christiansborg Kontor 110',1240,'mette.thiesen@ft.dk','+45 3337 5813',' '),
--  ('Pernille','Vermund',,'Folketinget, Christiansborg Kontor 111',1240,'pernille.vermund@ft.dk','+45 3337 5010',' '),
--  ('Edmund','Joensen',,'Folketinget, Christiansborg Kontor 112',1240,'edmund.joensen@ft.dk','+45 3337 5429',' '),
--  ('Aki-Matilda','Høegh-Dam',,'Folketinget, Christiansborg Kontor 113',1240,'akimatilda@ft.dk','+45 6162 5954',' '),
--  ('Simon Emil','Ammitzbøll-Bille',,'Folketinget, Christiansborg Kontor 114',1240,'simon.ammitzboll@ft.dk','+45 3337 4903',' ');


USE "Sydvest-Bo"
GO



INSERT INTO Opsynsmand (Personid, Distriktid, Noter) VALUES
  (14,1,'Noter: Test Opsynsmand'),
  (15,3,'Noter:'),
  (16,2,'Noter:'),
  (17,3,'Noter:'),
  (18,2,'Noter:'),
  (19,3,'Noter:'),
  (20,2,'Noter:'),
  (21,1,'Noter:'),
  (22,3,'Noter:'),
  (23,2,'Noter:'),
  (24,3,'Noter:'),
  (25,2,'Noter:'),
  (26,3,'Noter:'),
  (27,2,'Noter:'),
  (28,3,'Noter:');
GO

-- 07 Feriebolig sommerhuse ---------------------------------

-- Feriebolig.Ferieboligid;Feriebolig.Distriktid;Feriebolig.Adresseid;Feriebolig.Ejerid;Feriebolig.Opsynsmandid;Feriebolig.Stoerrelse;Feriebolig.Rum;Feriebolig.Senge;Feriebolig.Kvalitet;Feriebolig.Pris;Feriebolig.FeriboligType;Feriebolig.Noter;Adresse.Adressestring;Adresse.Postnr
USE "Sydvest-Bo"
GO


USE "Sydvest-Bo"
GO



-- 08 Ejer_Lejligheds inspektoere --------------------------------

-- Ejer.Ejerid;Ejer.Personid;Ejer.Ejertype;Ejer.Noter;Person.Personid;Person.Adresseid;Person.Fornavn;Person.Efternavn;Person.Email;Person.Tlf;Person.Password;Adresse.Adresseid;Adresse.Adressestring;Adresse.Postnr
 
-- ;;Lejligheds inspektør;Noter: Test Lejligheds inspektør;29;;Test;Lejligheds inspektør;rasm42h0@elev.tec.dk;26145443;' ';;Sydvest-Bo admin 1 3. mf.;2450
-- ;;Lejligheds inspektør;Noter: Lejligheds inspektør;30;;Ole;Birk Olesen;ole.birk@ft.dk;+45 3337 4908;' ';;Folketinget, Christiansborg Kontor 201;1240
-- ;;Lejligheds inspektør;Noter: Lejligheds inspektør;31;;Henrik;Dahl;henrik.dahl@ft.dk;+45 6162 4573;' ';;Folketinget, Christiansborg Kontor 202;1240
-- ;;Lejligheds inspektør;Noter: Lejligheds inspektør;32;;Alex;Vanopslagh;alex.vanopslagh@ft.dk;+45 6162 5666;' ';;Folketinget, Christiansborg Kontor 203;1240

USE "Sydvest-Bo"
GO


USE "Sydvest-Bo"
GO

INSERT INTO Ejer (Ejer.Personid, Ejertype, Noter) VALUES
  (29,'Lejligheds inspektør','Noter: Test Lejligheds inspektør'),
  (30,'Lejligheds inspektør','Noter:'),
  (31,'Lejligheds inspektør','Noter:'),
  (32,'Lejligheds inspektør','Noter:');
GO

-- 09 Opsysnmænd Lejligheds inspektoere --------------------------------

INSERT INTO Opsynsmand (Personid, Distriktid, Noter) VALUES
  (29,1,'Noter: Test Lejligheds inspektør'),
  (30,2,'Noter: Lejligheds inspektør'),
  (31,3,'Noter: Lejligheds inspektør'),
  (32,2,'Noter: Lejligheds inspektør');
GO

-- 10 Feriebolig Lejligheder ------------------------------------------------------------------------------

--Feriebolig.Ferieboligid;Feriebolig.Distriktid;Feriebolig.Adresseid;Feriebolig.Ejerid;Feriebolig.Opsynsmandid;Feriebolig.Stoerrelse;Feriebolig.Rum;Feriebolig.Senge;Feriebolig.Kvalitet;Feriebolig.Pris;Feriebolig.FeriboligType;Feriebolig.Noter;Adresse.Adressestring;Adresse.Postnr

USE "Sydvest-Bo"
GO


  USE "Sydvest-Bo"
GO


-- 11 Kunde -------------------------------------

-- Kunde.Kundeid;Kunde.Personid;Kunde.Noter;Name;Last Name;Person.Adresseid;Person.Email;Person.Tlf;Person.Password;Adresse.Adressestring;Adresse.Postnr

USE "Sydvest-Bo"
GO


USE "Sydvest-Bo"
GO


USE "Sydvest-Bo"
GO
INSERT INTO Kunde (Personid, Noter) VALUES
  (33,'Noter: Test Kunde'),
  (34,'Noter:'),
  (35,'Noter:'),
  (36,'Noter:'),
  (37,'Noter:'),
  (38,'Noter:'),
  (39,'Noter:'),
  (40,'Noter:'),
  (41,'Noter:'),
  (42,'Noter:'),
  (43,'Noter:'),
  (44,'Noter:'),
  (45,'Noter:'),
  (46,'Noter:'),
  (47,'Noter:'),
  (48,'Noter:'),
  (49,'Noter:'),
  (50,'Noter:'),
  (51,'Noter:'),
  (52,'Noter:'),
  (53,'Noter:'),
  (54,'Noter:'),
  (55,'Noter:'),
  (56,'Noter:'),
  (57,'Noter:'),
  (58,'Noter:'),
  (59,'Noter:');
go

--